{layout '@layout.latte'}

{block #content}

<h2 n:block="title">Ta Da! Done!</h2>
<div class="box">
    <p>You can download your archive here - <a href="{$url}generated/{$name}">{$url}generated/{$name}</a>.<br>Your archive will be available for the next hour.</p>
</div>