{layout '@layout.latte'}

{block #content}

<h2 n:block="title">Nothing!</h2>
<div class="box">
    <p>There is nothing to download or the CloudApp server doesn't respond. Sorry, try later.</p>
</div>